.style_TD
{
	background-color:#FFC268;
	color:#000;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}
.style_TDData
{
	background-color:#0085BE;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}	

